body {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 3rem;
  background-color: lightskyblue;
}

h2 {
  background-color: lightskyblue;
}
